/* Estilos generales */
body {
    font-family: Arial, sans-serif;
}

/* Contenedor de los items del menú */
.menu-items {
    display: flex;
    justify-content: space-evenly; /* Esto reduce el espacio entre los elementos */
    flex-wrap: wrap;
    gap: 5px;
    padding: 100px;
}

/* Ajustes para cada item del menú */
.item {
    text-align: center; /* Centra el texto dentro de cada item */
    width: 150px; /* Asegura un tamaño consistente */
    padding: 10px;
}

.item img {
    width: 100%; /* Ajusta las imágenes a su contenedor */
    height: auto;
    border-radius: 10px;
}

/* Títulos de cada item */
.item h4 {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

/* Centrar solo los títulos principales */
.category-title {
    background-color: #42b983; /* El verde del banner */
    color: white; /* Texto blanco */
    padding: 5px 10px; /* Espaciado alrededor del texto */
    text-align: center; /* Centra el texto dentro del contenedor */
    font-weight: bold; /* Hace el texto en negrita */
    margin-bottom: 20px; /* Espacio debajo del título */
    display: block; /* Asegura que el contenedor ocupe todo el ancho */
    width: fit-content; /* Ajusta el tamaño del contenedor al texto */
    margin-left: auto; /* Centra el contenedor horizontalmente */
    margin-right: auto; /* Centra el contenedor horizontalmente */
}

/* Estilo para el contenedor del título principal */
.title-container {
    background-color: #42b983; /* Fondo verde */
    padding: 5px; /* Espaciado dentro del contenedor */
    margin-bottom: 30px; /* Espacio debajo del contenedor */
    margin-top: 50px; /* Espacio arriba para despegarlo del header */
    display: block; /* Asegura que el contenedor ocupe todo el ancho */
    margin-left: auto; /* Centra el contenedor horizontalmente */
    margin-right: auto; /* Centra el contenedor horizontalmente */
    width: fit-content; /* Ajusta el tamaño del contenedor al contenido */
    width: 100%; /* Hace que el contenedor ocupe todo el ancho disponible */
}

/* Título principal de la página (Menú) */
.title-container h2 {
    text-align: center; /* Centra el texto dentro del contenedor */
    color: #ffffff; /* Color blanco */
    margin: 0; /* Elimina el margen por defecto */
    font-size: 25px; /* Tamaño del título */
}

/* Asegura que las imágenes se ajusten correctamente a tamaños de pantallas pequeños */
@media (max-width: 768px) {
    .menu-items {
        flex-direction: column;
        align-items: center;
    }

    .item {
        width: auto;
        margin-bottom: 30px;
    }
}
